body {
    width: 100%;
    margin: 0;
    background-color: white;
}

.table {
    display: grid;
    grid-template-columns: 1fr 3fr;  
    grid-template-rows: 40px 1fr 40px; 
    gap: 10px;
    width: 98%;
    height: 80vb;
  
}


.header {
    font-family: Arial;
    grid-column: span 4;
    background-color: rgba(120,188,189,255);
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.sidebar {
    font-family: Arial;
    background-color: rgba(234,92,72,255);
    color: white;
    padding: 20px;
    
    border-radius: 10px;
}

.main{
    font-family: Arial;
    background-color: rgba(246,179,66,255);
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    font-family: Arial;
    grid-column: span 4;
    background-color: rgba(149,200,203,255);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.text1{
    grid-column: span 1;
    font-family: Arial;
    background-color: rgba(64,95,124,255);
    color: black;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

.text2{
    font-family: Arial;
    background-color: rgba(240,122,110,255);
    color: black;
    padding: 100px;
    width: 400px;
    border-radius: 10px;
}

.text3{
    font-family: Arial;
    background-color: rgba(245,179,67,255);
    color: black;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
    .table {
      display: flex;
      flex-direction: column;
    }
  }